html {
    font-family: sans-serif;
    /* background:linear-gradient(rgba(202, 9, 9, 0.616),rgba(153, 4, 4, 0.8));
    padding: 0;
    background-repeat: no-repeat;
    margin: 0;
    background-size: contain;
    height: 100vh; */

    background-color: #d8d5d5;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #c53737 12%, transparent 12.5%, transparent 87%, #c53737 87.5%, #c53737), linear-gradient(150deg, #c53737 12%, transparent 12.5%, transparent 87%, #c53737 87.5%, #c53737), linear-gradient(30deg, #c53737 12%, transparent 12.5%, transparent 87%, #c53737 87.5%, #c53737), linear-gradient(150deg, #c53737 12%, transparent 12.5%, transparent 87%, #c53737 87.5%, #c53737), linear-gradient(60deg, #c5373777 25%, transparent 25.5%, transparent 75%, #c5373777 75%, #c5373777), linear-gradient(60deg, #c5373777 25%, transparent 25.5%, transparent 75%, #c5373777 75%, #c5373777);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;


    
  }
  
  body {
    max-width: 800px;
    margin: auto;
    background: lightgray;
    border-radius: 25px;
    padding: 20px;
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: rgba(0, 0, 0, 0.603);
    margin: 1rem 0;
  }
  
  a {
    color: #ffffff;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: rgb(116, 116, 116);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex:auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid darkgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }