{% extends 'base.html' %}
{% block head %}
<script>
  function initMap() {
    var location = {lat: 32.779167, lng: -96.808891};
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 7,
      center: location
     });

     autocomplete = new google.maps.places.Autocomplete(document.getElementById("input"),
      {
        componentRestrictions: {'country': ['us']},
        fields: ['geometry', 'name'],
        types: ['establishment']

      })

      autocomplete.addListener("place_changed", () => {
        const place = autocomplete.getPlace();
        new google.maps.Marker({
          position: place.geometry.location,
          title: place.name,
          map: map
        })
      })

  }

window.initMap=initMap;

console.log("what") 

</script>


  <style>
    * {
      margin: 0;
      padding: 0;
    }
    #map {
      height: 500px;
      width: 100%;
    }
  
  </style>

{% endblock head %}


{% block header %}
  <h1>{% block title %}New POI{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Trip</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Where to</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

    <input type="submit" value="Save">
  </form>
  <input id="input" style="height: 60px; width: 800px;">
  <div id="map"> </div> -->




  
{% endblock %}

{% block script %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1bRIy-ceoZp7y7gClPoHCDqsQtG_fh_0&libraries=places&callback=initMap"></script>
{% endblock script %}